# Transforming data to plot map on Tableau

[Tableau destination map](https://www.youtube.com/watch?v=ckQNNhCfUW4)

In [1]:
from geopy.geocoders import Nominatim

import numpy as np
import pandas as pd
import pycountry

In [2]:
operations = pd.read_csv("operations.csv")

/home/hsunwei/anaconda3/envs/project/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,11,13,31,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
operations.columns

Index(['Mission ID', 'Mission Date', 'Theater of Operations', 'Country',
       'Air Force', 'Unit ID', 'Aircraft Series', 'Callsign', 'Mission Type',
       'Takeoff Base', 'Takeoff Location', 'Takeoff Latitude',
       'Takeoff Longitude', 'Target ID', 'Target Country', 'Target City',
       'Target Type', 'Target Industry', 'Target Priority', 'Target Latitude',
       'Target Longitude', 'Altitude (Hundreds of Feet)', 'Airborne Aircraft',
       'Attacking Aircraft', 'Bombing Aircraft', 'Aircraft Returned',
       'Aircraft Failed', 'Aircraft Damaged', 'Aircraft Lost',
       'High Explosives', 'High Explosives Type',
       'High Explosives Weight (Pounds)', 'High Explosives Weight (Tons)',
       'Incendiary Devices', 'Incendiary Devices Type',
       'Incendiary Devices Weight (Pounds)',
       'Incendiary Devices Weight (Tons)', 'Fragmentation Devices',
       'Fragmentation Devices Type', 'Fragmentation Devices Weight (Pounds)',
       'Fragmentation Devices Weight (Tons)', 'Total Weight (Pounds)',
       'Total Weight (Tons)', 'Time Over Target', 'Bomb Damage Assessment',
       'Source ID'],
      dtype='object')

In [4]:
targets = operations[['Country', 'Target Country']]
targets.head(14)

          Country          Target Country
0             USA                   ITALY
1             USA              NEW GUINEA
2             USA                   ITALY
3             USA                   ITALY
4             USA                 SUMATRA
5             USA              NEW GUINEA
6             USA              NEW GUINEA
7             USA              NEW GUINEA
8             USA                   ITALY
9             USA                   ITALY
10            USA                   BURMA
11  GREAT BRITAIN                 GERMANY
12  GREAT BRITAIN                 GERMANY
13            NaN  HOLLAND OR NETHERLANDS

In [5]:
n_country = targets.groupby(targets.columns.tolist(),as_index=False).size()

In [8]:
n_country.index.unique()

MultiIndex(levels=[['AUSTRALIA', 'GREAT BRITAIN', 'NEW ZEALAND', 'SOUTH AFRICA', 'USA'], ['"PAPUA NEW GUINEA, MANUS ISLAND"', 'ALBANIA', 'ALEUTIAN ISLANDS', 'ALGERIA', 'ANDAMAN ISLANDS', 'AUSTRALIA', 'AUSTRIA', 'BALI', 'BELGIUM', 'BISMARK ARCHIPELAGO', 'BORNEO', 'BOUGAINVILLE', 'BULGARIA', 'BURMA', 'CAROLINE ISLANDS', 'CELEBES ISLANDS', 'CHINA', 'CHINA MINING', 'CORAL SEA AREA', 'CORSICA', 'CRETE', 'CYPRUS', 'CZECHOSLOVAKIA', 'DENMARK', 'EGYPT', 'ERITREA', 'ETHIOPIA', 'ETHIOPIA/ABSINNYA', 'FORMOSA', 'FORMOSA AND RYUKYU ISLANDS', 'FRANCE', 'FRENCH INDO CHINA', 'FRENCH INDO CHINA MINING', 'FRENCH WEST AFRICA', 'GERMANY', 'GILBERT ISLANDS', 'GREAT BRITAIN', 'GREECE', 'HOLLAND OR NETHERLANDS', 'HUNGARY', 'INDIA', 'INDIAN OCEAN', 'INDONESIA', 'IRAQ', 'ITALY', 'JAPAN', 'JAPAN MINING', 'JAVA', 'KOREA OR CHOSEN', 'KOREA OR CHOSEN MINING', 'KURILE ISLANDS', 'LEBANON', 'LIBYA', 'LUXEMBOURG', 'MADAGASCAR', 'MALAY STATES', 'MALAY STATES MINING', 'MANCHURIA', 'MARCUS ISLANDS', 'MARIANAS ISLANDS', 'MARSHALL ISLANDS', 'MOROCCO', 'NETHERLANDS EAST INDIES', 'NEW GUINEA', 'NEW IRELAND', 'NORWAY', 'PALAU ISLANDS', 'PANTELLARIA', 'PHILIPPINE ISLANDS', 'POLAND', 'ROMANIA', 'SARDINIA', 'SICILY', 'SOLOMON ISLANDS', 'SOMALIA', 'SUDAN', 'SUMATRA', 'SUMATRA MINING', 'SWITZERLAND', 'SYRIA', 'THAILAND OR SIAM', 'THAILAND OR SIAM MINING', 'TIMOR', 'TUNISIA', 'UNKNOWN', 'UNKNOWN OR NOT INDICATED', 'VOLCANO AND BONIN ISLANDS', 'WAKE ISLAND', 'YUGOSLAVIA']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [5, 9, 15, 47, 51, 63, 73, 79, 82, 1, 3, 4, 6, 8, 12, 13, 20, 21, 22, 23, 24, 25, 26, 27, 30, 34, 36, 37, 38, 39, 40, 41, 43, 44, 51, 52, 54, 65, 69, 70, 71, 72, 75, 79, 80, 83, 85, 88, 9, 11, 63, 64, 68, 73, 20, 25, 26, 52, 74, 0, 1, 2, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88]],
           names=['Country', 'Target Country'])

In [6]:
for index, value in n_country.items():
    print("Index : {}".format(index[0]))

Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : AUSTRALIA
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : GREAT BRITAIN
Index : NEW ZEALAND
Index : NEW ZEALAND
Index : NEW ZEALAND
Index : NEW ZEALAND
Index : NEW ZEALAND
Index : NEW ZEALAND
Index : SOUTH AFRICA
Index : SOUTH AFRICA
Index : SOUTH AFRICA
Index : SOUTH AFRICA
Index : SOUTH AFRICA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA
Index : USA

#### Origin-Destination split into two rows

In [22]:
df = pd.DataFrame(columns=['Origin-Destination', 'Path Id', 'Country', 'Count'])

for index, value in n_country.items():
    i = index[0] + ' - ' + index[1]
    df = df.append({'Origin-Destination' : 'origin', 'Path Id' : i, 'Country' : index[0], 'Count' : value}, ignore_index=True)
    df = df.append({'Origin-Destination' : 'destination', 'Path Id' : i, 'Country' : index[1], 'Count' : value}, ignore_index=True)
#     print("Index : {}, Value : {}".format(index[1], value))

In [23]:
df.to_csv('targets.csv', index=False)

In [25]:
df.head(5)

,Origin-Destination,Path Id,Country,Count
0,origin,AUSTRALIA - AUSTRALIA,AUSTRALIA,4
1,destination,AUSTRALIA - AUSTRALIA,AUSTRALIA,4
2,origin,AUSTRALIA - BISMARK ARCHIPELAGO,AUSTRALIA,26
3,destination,AUSTRALIA - BISMARK ARCHIPELAGO,BISMARK ARCHIPELAGO,26
4,origin,AUSTRALIA - CELEBES ISLANDS,AUSTRALIA,1

#### Origin-Destination same row

In [24]:
n_country

Country        Target Country
AUSTRALIA      AUSTRALIA                        4
               BISMARK ARCHIPELAGO             26
               CELEBES ISLANDS                  1
               JAVA                             4
               LEBANON                          2
               NEW GUINEA                     127
               SOLOMON ISLANDS                 23
               SYRIA                            2
               TIMOR                           98
GREAT BRITAIN  ALBANIA                        109
               ALGERIA                          1
               ANDAMAN ISLANDS                  2
               AUSTRIA                         12
               BELGIUM                       1024
               BULGARIA                        16
               BURMA                          872
               CRETE                           65
               CYPRUS                           9
               CZECHOSLOVAKIA                  37
               DENMARK                         51
               EGYPT                           18
               ERITREA                         22
               ETHIOPIA                        16
               ETHIOPIA/ABSINNYA                2
               FRANCE                        4569
               GERMANY                      19499
               GREAT BRITAIN                   26
               GREECE                         397
               HOLLAND OR NETHERLANDS        2525
               HUNGARY                          7
                                            ...
USA            MADAGASCAR                       4
               MALAY STATES                    91
               MALAY STATES MINING             14
               MANCHURIA                       25
               MARCUS ISLANDS                 143
               MARIANAS ISLANDS               358
               MARSHALL ISLANDS               715
               MOROCCO                          1
               NETHERLANDS EAST INDIES          1
               NEW GUINEA                    7077
               NORWAY                          28
               PALAU ISLANDS                  593
               PANTELLARIA                    474
               PHILIPPINE ISLANDS            8179
               POLAND                         172
               ROMANIA                        735
               SARDINIA                        73
               SOLOMON ISLANDS               1625
               SUMATRA                         92
               SUMATRA MINING                   1
               SWITZERLAND                      6
               THAILAND OR SIAM                57
               THAILAND OR SIAM MINING          1
               TIMOR                            8
               TUNISIA                       1166
               UNKNOWN                         19
               UNKNOWN OR NOT INDICATED      1278
               VOLCANO AND BONIN ISLANDS      966
               WAKE ISLAND                     72
               YUGOSLAVIA                     767
Length: 133, dtype: int64

In [25]:
df = pd.DataFrame(columns=['Path Id', 'Country', 'Target Country', 'Count'])

for index, value in n_country.items():
    i = index[0] + ' - ' + index[1]
    df = df.append({'Path Id':i, 'Country':index[0], 'Target Country':index[1], 'Count':value}, ignore_index=True)

## Country to coordinate

In [26]:
# df = pd.read_csv("targets.csv")
# df = targets
df = df.fillna("")

In [27]:
df.head(3)

                           Path Id    Country       Target Country  Count
0            AUSTRALIA - AUSTRALIA  AUSTRALIA            AUSTRALIA      4
1  AUSTRALIA - BISMARK ARCHIPELAGO  AUSTRALIA  BISMARK ARCHIPELAGO     26
2      AUSTRALIA - CELEBES ISLANDS  AUSTRALIA      CELEBES ISLANDS      1

In [31]:
def get_coord(df):
    lat, lon = 0, 0
    country = df['Target Country']
    
    if len(country) <= 0:
        return
    elif country == 'USA':
        lat = 39.7837304
        lon = -100.4458825
    elif country == 'BISMARK ARCHIPELAGO':
        lat = -5.00000
        lon = 150.00000
    elif country == 'ETHIOPIA/ABSINNYA':
        lat = 11.663240
        lon = 37.821903
    elif country == 'FORMOSA AND RYUKYU ISLANDS':
        lat = 26.30000
        lon = 128.00000
    elif 'FRENCH INDO CHINA' in country:
        lat = 16.00000
        lon = 107.00000

    else:
        if 'KOREA' in country:
            country = 'KOREA'
        elif country == 'MALAY STATES':
            country = "MALAYSIA"
        elif country == "PANTELLARIA":
            country = 'PANTELLERIA'
        elif 'THAILAND' in country:
            country = 'THAILAND'
        elif 'BONIN' in country:
            country = 'BONIN ISLANDS'
        elif len(country) == 3:
            country = pycountry.countries.get(alpha_3=country)
            country = country.name
        
        location = geolocator.geocode(country)
        if location == None:
            country_ls.append(country)
        else:
            lat = location.latitude
            lon = location.longitude
#     print(location.address)
#     print(location.latitude, location.longitude)
#     print(location.raw)
    df['Latitude2'] = lat
    df['Longitude2'] = lon
    return df

In [32]:
country_ls = []
geolocator = Nominatim(user_agent="my-application", timeout=10)
df = df.apply(get_coord, axis=1)

In [33]:
country_ls

['UNKNOWN OR NOT INDICATED', 'UNKNOWN OR NOT INDICATED']

In [39]:
df.to_csv('targets_coord_1row.csv', index=False)

In [34]:
df

,Path Id,Country,Target Country,Count,Latitude1,Longitude1,Latitude2,Longitude2
0,AUSTRALIA - AUSTRALIA,AUSTRALIA,AUSTRALIA,4,-24.776109,134.755000,-24.776109,134.755000
1,AUSTRALIA - BISMARK ARCHIPELAGO,AUSTRALIA,BISMARK ARCHIPELAGO,26,-24.776109,134.755000,-5.000000,150.000000
2,AUSTRALIA - CELEBES ISLANDS,AUSTRALIA,CELEBES ISLANDS,1,-24.776109,134.755000,-1.975800,120.294886
3,AUSTRALIA - JAVA,AUSTRALIA,JAVA,4,-24.776109,134.755000,36.835971,-79.227798
4,AUSTRALIA - LEBANON,AUSTRALIA,LEBANON,2,-24.776109,134.755000,33.875063,35.843409
5,AUSTRALIA - NEW GUINEA,AUSTRALIA,NEW GUINEA,127,-24.776109,134.755000,-5.522599,142.087118
6,AUSTRALIA - SOLOMON ISLANDS,AUSTRALIA,SOLOMON ISLANDS,23,-24.776109,134.755000,-9.735434,162.828854
7,AUSTRALIA - SYRIA,AUSTRALIA,SYRIA,2,-24.776109,134.755000,34.640186,39.049411
8,AUSTRALIA - TIMOR,AUSTRALIA,TIMOR,98,-24.776109,134.755000,-9.346017,124.637280
9,GREAT BRITAIN - ALBANIA,GREAT BRITAIN,ALBANIA,109,54.315362,-1.918023,41.000028,19.999962
10,GREAT BRITAIN - ALGERIA,GREAT BRITAIN,ALGERIA,1,54.315362,-1.918023,28.000027,2.999983
11,GREAT BRITAIN - ANDAMAN ISLANDS,GREAT BRITAIN,ANDAMAN ISLANDS,2,54.315362,-1.918023,12.611239,92.831654
12,GREAT BRITAIN - AUSTRIA,GREAT BRITAIN,AUSTRIA,12,54.315362,-1.918023,47.200034,13.199959
13,GREAT BRITAIN - BELGIUM,GREAT BRITAIN,BELGIUM,1024,54.315362,-1.918023,50.640281,4.666715
14,GREAT BRITAIN - BULGARIA,GREAT BRITAIN,BULGARIA,16,54.315362,-1.918023,42.607397,25.485662
15,GREAT BRITAIN - BURMA,GREAT BRITAIN,BURMA,872,54.315362,-1.918023,17.175050,95.999965
16,GREAT BRITAIN - CRETE,GREAT BRITAIN,CRETE,65,54.315362,-1.918023,35.278806,24.934289
17,GREAT BRITAIN - CYPRUS,GREAT BRITAIN,CYPRUS,9,54.315362,-1.918023,34.982302,33.145128
18,GREAT BRITAIN - CZECHOSLOVAKIA,GREAT BRITAIN,CZECHOSLOVAKIA,37,54.315362,-1.918023,41.213345,-98.622852
19,GREAT BRITAIN - DENMARK,GREAT BRITAIN,DENMARK,51,54.315362,-1.918023,55.670249,10.333328
20,GREAT BRITAIN - EGYPT,GREAT BRITAIN,EGYPT,18,54.315362,-1.918023,26.254049,29.267547
21,GREAT BRITAIN - ERITREA,GREAT BRITAIN,ERITREA,22,54.315362,-1.918023,15.950032,37.999967
22,GREAT BRITAIN - ETHIOPIA,GREAT BRITAIN,ETHIOPIA,16,54.315362,-1.918023,10.211670,38.652120
23,GREAT BRITAIN - ETHIOPIA/ABSINNYA,GREAT BRITAIN,ETHIOPIA/ABSINNYA,2,54.315362,-1.918023,11.663240,37.821903
24,GREAT BRITAIN - FRANCE,GREAT BRITAIN,FRANCE,4569,54.315362,-1.918023,46.603354,1.888334
25,GREAT BRITAIN - GERMANY,GREAT BRITAIN,GERMANY,19499,54.315362,-1.918023,51.083420,10.423447
26,GREAT BRITAIN - GREAT BRITAIN,GREAT BRITAIN,GREAT BRITAIN,26,54.315362,-1.918023,54.315362,-1.918023
27,GREAT BRITAIN - GREECE,GREAT BRITAIN,GREECE,397,54.315362,-1.918023,38.995368,21.987713
28,GREAT BRITAIN - HOLLAND OR NETHERLANDS,GREAT BRITAIN,HOLLAND OR NETHERLANDS,2525,54.315362,-1.918023,52.514849,6.096014
29,GREAT BRITAIN - HUNGARY,GREAT BRITAIN,HUNGARY,7,54.315362,-1.918023,47.181759,19.506094
...,...,...,...,...,...,...,...,...
103,USA - MADAGASCAR,USA,MADAGASCAR,4,0.000000,0.000000,-18.924960,46.441642
104,USA - MALAY STATES,USA,MALAY STATES,91,0.000000,0.000000,40.796492,-74.474547
105,USA - MALAY STATES MINING,USA,MALAY STATES MINING,14,0.000000,0.000000,0.000000,0.000000
106,USA - MANCHURIA,USA,MANCHURIA,25,0.000000,0.000000,-3.838348,-74.328423
107,USA - MARCUS ISLANDS,USA,MARCUS ISLANDS,143,0.000000,0.000000,48.668857,-118.056325
108,USA - MARIANAS ISLANDS,USA,MARIANAS ISLANDS,358,0.000000,0.000000,14.149021,145.213452
109,USA - MARSHALL ISLANDS,USA,MARSHALL ISLANDS,715,0.000000,0.000000,6.951874,170.998510
110,USA - MOROCCO,USA,MOROCCO,1,0.000000,0.000000,31.172821,-7.336248
111,USA - NETHERLANDS EAST INDIES,USA,NETHERLANDS EAST INDIES,1,0.000000,0.000000,12.110041,-68.938637
112,USA - NEW GUINEA,USA,NEW GUINEA,7077,0.000000,0.000000,-5.522599,142.087118
113,USA - NORWAY,USA,NORWAY,28,0.000000,0.000000,64.573154,11.528036
114,USA - PALAU ISLANDS,USA,PALAU ISLANDS,593,0.000000,0.000000,39.569079,3.210742
115,USA - PANTELLARIA,USA,PANTELLARIA,474,0.000000,0.000000,0.000000,0.000000
116,USA - PHILIPPINE ISLANDS,USA,PHILIPPINE ISLANDS,8179,0.000000,0.000000,14.576171,120.981771
117,USA - POLAND,USA,POLAND,172,0.000000,0.000000,52.215933,19.134422
118,USA - ROMANIA,USA,ROMANIA,735,0.000000,0.000000,45.985213,24.685923
119,USA - SARDINIA,USA,SARDINIA,73,0.000000,0.000000,40.061604,9.097754
120,USA - SOLOMON ISLANDS,USA,SOLOMON ISLANDS,1625,0.000000,0.000000,-9.735434,162.828854
121,USA - SUMATRA,USA,SUMATRA,92,0.000000,0.000000,-0.144108,101.624561
122,USA - SUMATRA MINING,USA,SUMATRA MINING,1,0.000000,0.000000,48.276545,13.162061
123,USA - SWITZERLAND,USA,SWITZERLAND,6,0.000000,0.000000,46.798562,8.231974
124,USA - THAILAND OR SIAM,USA,THAILAND OR SIAM,57,0.000000,0.000000,0.000000,0.000000
125,USA - THAILAND OR SIAM MINING,USA,THAILAND OR SIAM MINING,1,0.000000,0.000000,0.000000,0.000000
126,USA - TIMOR,USA,TIMOR,8,0.000000,0.000000,-9.346017,124.637280
127,USA - TUNISIA,USA,TUNISIA,1166,0.000000,0.000000,33.843941,9.400138
128,USA - UNKNOWN,USA,UNKNOWN,19,0.000000,0.000000,25.065840,-77.323291
129,USA - UNKNOWN OR NOT INDICATED,USA,UNKNOWN OR NOT INDICATED,1278,0.000000,0.000000,0.000000,0.000000
130,USA - VOLCANO AND BONIN ISLANDS,USA,VOLCANO AND BONIN ISLANDS,966,0.000000,0.000000,0.000000,0.000000
131,USA - WAKE ISLAND,USA,WAKE ISLAND,72,0.000000,0.000000,19.289825,166.649264
132,USA - YUGOSLAVIA,USA,YUGOSLAVIA,767,0.000000,0.000000,8.193948,-64.504337

In [37]:
str = "VOLCANO AND BONIN ISLANDS"
if "BONIN" in str:
    print(True)

True

In [52]:
location = geolocator.geocode('thailand')
print(location.address)
print(location.latitude, location.longitude)
print(location.raw)

ประเทศไทย
14.8971921 100.83273
{'place_id': 256152813, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 903822, 'boundingbox': ['5.612851', '20.4648337', '97.3438072', '105.636812'], 'lat': '14.8971921', 'lon': '100.83273', 'display_name': 'ประเทศไทย', 'class': 'place', 'type': 'country', 'importance': 0.779643324467703, 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png'}

In [48]:
location = geolocator.reverse("52.5148494	6.0960144")
print(location.address)
print(location.latitude, location.longitude)
print(location.raw)

Holland, 41, Thorbeckegracht, Zwolle, Overijssel, Nederland, 8011VN, Nederland
52.5148494 6.0960144
{'place_id': 25702059, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 2498671427, 'lat': '52.5148494', 'lon': '6.0960144', 'display_name': 'Holland, 41, Thorbeckegracht, Zwolle, Overijssel, Nederland, 8011VN, Nederland', 'address': {'restaurant': 'Holland', 'house_number': '41', 'road': 'Thorbeckegracht', 'suburb': 'Zwolle', 'city': 'Zwolle', 'state': 'Overijssel', 'postcode': '8011VN', 'country': 'Nederland', 'country_code': 'nl'}, 'boundingbox': ['52.5147494', '52.5149494', '6.0959144', '6.0961144']}

In [85]:
origin = (df[df['Origin-Destination'] == 'origin']['Country']).unique()
print(origin)

In [ ]:
destination = (df[df['Origin-Destination'] == 'destination']['Country']).unique()
print(destination)